
nav {
  display: flex;    
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(230, 148, 61);
  font-size: 20px;
}

nav, footer{
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(230, 148, 61);
}

.right-links {
  display: flex;
  gap: 20px;
}

a:hover {
    color: rgba(255, 144, 25, 0.551);
    font: none;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

footer{
    text-align: center;
}