
*{
    margin: 0;
}

/*-------- nav bar ------------------------------------------------------*/
nav {
  display: flex;    
  align-items: center;
  justify-content: space-between;
  background-color: rgba(22, 69, 95, 0.505);
  font-size: 20px;
}

nav{
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

footer{
    padding: 10px;
    box-shadow: 0 -4px 4px rgba(0,0,0,0.2);
}

footer{
    text-align: center;
    background-color: aliceblue;
}

.right-links {
  display: flex;
  gap: 20px;
}
nav a, #topics li a{
    color :rgb(223, 249, 255)
}

nav a:hover{
    color: rgba(255, 144, 25, 0.551);
}

#topics li a:hover{
    color: rgb(129, 16, 74);
}

nav a:hover, #topics li a:hover{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

a{
    text-decoration: none;
}

#topics {
    display: none;
    position: absolute;
    background-color: rgba(22, 69, 95, 0.505);
    padding:10px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#marine-life:hover #topics {
    display: block;
}

#topics li {
    transition: color 0.3s ease;
}

#marine-life ul{
    list-style: none;
}

#logo{
    display: inline-block;
    width :100px;
    height: 40px;
    background-size: cover;
    filter: drop-shadow(3px 1px 4px rgba(0,0,0,0.2));
}

#logo{
    background-image: url('../img/logo_blue_png_without.png');
}

#logo:hover {
    background-image: url('../img/logo_blue_without_inverse.png');
}

/*---------- Video background -------------------------------------------------------*/

/* *** upper part : video and title*** */

.animated-background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.animated-background video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*---------- home page -------------------------------------------------------*/

.Name { 
    color: aliceblue;
    text-align: center;
    margin-top: 180px;
}

.main-title span {
  font-size: 2em;
  letter-spacing: 2px;
  color: white;
}

/* *** Second part of home page *** */

.divider{
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    color:rgb(19, 92, 106);
    font-size: 20px;
    font-style: oblique; 
}

.home{
    background-image: url('../img/oceansand.jpg');
    background-size: cover;
    background-position: center;
}
.row {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
}

.bloc:hover p, .bloc:hover h3{
    color:rgb(230, 148, 61);
}

.bloc {
  width: 50%;
  position: relative;
  top: 0;
  /*opacity: 0;*/
  transition: all 2s ease-in-out;
  padding: 40px;
  background-color: rgba(240, 255, 255, 0.678);
  display: flex;
  flex-direction: column;
  justify-content: center; /*verticaly centered*/
}

.bloc p, .bloc h3{
    text-align: justify;
    color: rgb(66, 66, 127); 
}

/*to hide blocs*/
.left {
  left: -50%;
}

.right {
  right: -50%;
}

/*to display blocs*/
.bloc.left.visible {
  left: 0;
}

.bloc.right.visible {
  right: 0;
}

/*
.active{
    opacity: 1;
    transform: scale(1);
}*/

.img{
    background-size: cover;
    background-position: center;
    filter: grayscale(0.4);
    overflow: hidden;
    z-index: 0;
}

#imgcoral{
    background-image: url('../img/coral.jpg');
}

#imgcoral p, #imgjellyfish p, #imgturtle p{
    color: black;
    font-size: 24px;
    padding: 20px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute; /* to cover all the img */
    top: 0;
    left: 0;
    font-size: 30px;
}

#imgcoral:hover p, #imgjellyfish:hover p, #imgturtle:hover p{
    opacity: 1;
    background-color: rgba(134, 184, 248, 0.52);
    padding: auto;
    z-index: 1;
}

#imgjellyfish{
    background-image: url('../img/jellyfish2.jpg');
}

#imgturtle{
    background-image: url('../img/turtle.jpg');
}


/*----- Contact Us page ----------------------------------------*/

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

form {
  max-width: 600px;
  width: 100%;
  padding: 20px 40px;
  background-color: #badbebd5;
  border: solid 2px rgb(248, 248, 248);
  display: flex;
  flex-direction: column;  
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px;
}

.ContactUs{
    text-align: center;
    margin : 10px;
    color: rgb(255, 255, 255);
}

input.user-info,
textarea.msg,  .submit-btn {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;
    padding: 5px;
}

.msg{
    min-height: 100px;
}

.submit-btn {
    display: block;
    margin: 8px auto;
    width: 90px;
    padding: 4px;
    text-align: center;
    border: solid 2px  rgb(126, 165, 173);
}
  
.submit-btn:hover {
    background-color: bisque;
    border: solid 2px  rgb(230, 148, 61);
    border-radius: 6px;
}

.active-button{
    text-align: center;
    margin : 10px;
    color:rgb(230, 148, 61);
    transition: all 0.3s ease
}

.user-info:focus,
.msg:focus {
    border: 1px solid rgb(255, 195, 139);
    outline: none;
    box-shadow: 0 0 5px rgb(255, 145, 0);
}

/*--------------- Learn pages -----------------------------------*/

.text-container{
    padding-left: 10%;
    padding-right: 10%;
    background-image: url('../img/oceansand.jpg');
    background-size: cover;
    background-position: center;
}

.text-container>*{
    padding: 10px;
    text-align: justify;
}

.LAML-title {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    height: 100%;
}

.LAML-title >*{
    color:rgb(224, 235, 244);
    margin-left: 100px;
    padding-top:10px;
}background-color: rgb(163, 195, 223);

.LAML-title h1{
    font-size: 80px;
}

.text-container h2{
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 20px;
    color:rgb(66, 66, 127);
}

.text-container h3{
    margin:5px 0;
}

.text-container section{
    margin:10px 0;
}

.box1{
    background-color: rgba(125, 187, 234, 0.858);
    margin:auto;
    padding: 20px;
    border-radius: 25px;
}

.box2{
    background-color: rgba(125, 187, 234, 0.858);
    margin:auto;
    padding: 20px;
    border-radius: 25px;
}

#lamlTitle-2{
    text-align: center;
    color:rgb(10, 79, 82) ;
}

#lamlTitle-2:visited{
    color:rgb(243, 151, 23) ;
    text-decoration: none;
}

.four-blocs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#flex1, #flex2 {
    display: flex;
    padding: 20px;
    text-align: center;
    
}
#flex1>*, #flex2>* {
    background-color: rgba(125, 187, 234, 0.729);
    margin: 20px;  
    padding: 10px; 
    border-radius: 25px;
    flex-basis: 100%;
}

.left-laml, .right-laml {
    position: relative;
    transition: all 1s ease-in-out;
    opacity: 1;
}

.left-laml {
    left: -1vw;
}

.right-laml {
    right: -1vw;
}

.left-laml.visible{
    left : 0;
    opacity: 1;
}

.right-laml.visible{
    right : 0;
    opacity: 1;
}



/*----- Quizz----------------------------*/

@keyframes pulse {
  0%   { transform: scale(1); }
  30%  { transform: scale(1.08); }
  60%  { transform: scale(0.95); }
  100% { transform: scale(1); }
}

.start-quizz-btn {
  animation: pulse 0.9s infinite;
}

.quizz-page{
    background-color: rgb(163, 195, 223);
}

.img-quizz.start{
    background-image: url('../img/jellyfish1.jpg');
}
.img-quizz.end{
    background-image: url('../img/happy_fish.gif');
}


.img-quizz{
    background-image: url('../img/jellyfish1.jpg');
    background-size: cover;
    height: 200px;
    width: 200px;
    box-sizing: content-box;
}

.quizz{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container{
    overflow: hidden;
    width: 400px;
    height: 430px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgb(200, 199, 199);
    background-color: rgb(255, 255, 255)
}

.container.quizz-content{
    width: 460px;
    height: 490px;
}

.begin-quizz, .end-quizz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.end-quizz, .quizz-content{
    display: none;
}


.begin-quizz>*, .end-quizz>*{
    margin:10px;
}


.quizz-header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgb(162, 158, 150);
    height: 50px;
}

.quizz-header .quizz-title{
    font-size: 1.43em;
    font-weight: 1000;
}

.quizz-header .timer{
    display: flex;
    background-color:aliceblue;
    border: 1px solid rgb(163, 195, 223);
    border-radius: 4px;
    padding: 4px;
}

.question{
    padding: 20px 40px ;
    font-size: 19px;
    min-height: 60px;
    display: flex;
    align-items:center;
}
.answer-options{
    margin-top:10px;
    list-style: none;
}

.answer{
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: rgba(184, 222, 255, 0.807);
    border-radius: 4px;
    border: solid 1px rgb(117, 157, 165);
    cursor: pointer;
    justify-content: space-between;
}

.answer:hover{
    background-color: rgba(145, 189, 227, 0.807);
}

.answer-options{
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap:10px;
    transition: 0.3s ease;
}


.quizz-footer{
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.638) ;
}

.next-question, .try-again, .start-quizz-btn{
    display:inline-flex;
    gap:4px;
    align-items: center;
    background-color: rgb(143, 187, 225);
    border: 1px solid rgb(163, 195, 223);
    border-radius: 4px;
    padding: 5px;
}

.next-question{
    visibility: hidden;
}

.next-question:hover, .try-again:hover, .start-quizz-btn:hover{
    background-color: rgb(118, 153, 184);
}

.answer-options .answer.correct{
    background-color: rgb(198, 236, 216);
    color:rgb(41, 97, 67);
    border-color:rgb(41, 97, 67);
}

.answer-options .answer.incorrect{
    background-color: rgb(254, 224, 201);
    color:rgb(236, 118, 34);
    border-color: rgb(236, 118, 34);
}


