
*{
    margin: 0;
}

/*-------- nav bar ------------------------------------------------------*/
nav {
  display: flex;    
  align-items: center;
  justify-content: space-between;
  background-color: rgba(22, 69, 95, 0.505);
  font-size: 20px;
  color : white;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

footer{
    padding: 10px;
    box-shadow: 0 -4px 4px rgba(0,0,0,0.2);
}

footer{
    text-align: center;
    background-color: aliceblue;
}

.right-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

nav a, #topics li a{
    color :rgb(223, 249, 255)
}

nav a:hover{
    color: rgba(255, 144, 25, 0.551);
}

#topics li a:hover{
    color: rgb(129, 16, 74);
}

nav a:hover, #topics li a:hover{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

a{
    text-decoration: none;
}

#topics {
    display: none;
    position: absolute;
    background-color: rgba(22, 69, 95, 0.505);
    padding:10px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#marine-life:hover #topics {
    display: block;
}

#topics li {
    transition: color 0.3s ease;
}

#marine-life ul{
    list-style: none;
}

#logo{
    display: inline-block;
    width :100px;
    height: 40px;
    background-size: cover;
    filter: drop-shadow(3px 1px 4px rgba(0,0,0,0.2));
    background-image: url('../img/logo_blue_png_without.png'); /*royalty free : from pexel.com*/
    background-repeat: no-repeat;
}



#logo:hover {
    background-image: url('../img/logo_blue_without_inverse.png');/*royalty free : from pexel.com*/
}

/*---------- Video background -------------------------------------------------------*/

/* *** upper part : video and title*** */

.animated-background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.animated-background video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*---------- home page -------------------------------------------------------*/

.Name { 
    color: aliceblue;
    text-align: center;
    margin-top: 180px;
}

.main-title span {
  font-size: 2em;
  letter-spacing: 2px;
  color: white;
}

/* *** Second part of home page *** */

.divider{
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    color:rgb(19, 92, 106);
    font-size: 20px;
    font-style: oblique; 
}

.home{
    background-image: url('../img/oceansand.jpg');/*royalty free : from pexel.com*/
    background-size: cover;
    background-position: center;
}
.row {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
}

.bloc.text:hover p, .bloc.text:hover h3{
    color: rgb(66, 66, 127); 
}


.bloc {
  width: 50%;
  position: relative;
  top: 0;
  /*opacity: 0;*/
  transition: all 2s ease-in-out;
  padding: 2% 5%;
  background-color: rgba(240, 255, 255, 0.678);
  display: flex;
  flex-direction: column;
  justify-content: center; /*verticaly centered*/
}

.bloc p, .bloc h3{
    text-align: justify;
    color: rgb(37, 35, 77)
}

.bloc.text p, .bloc.text h3{
    padding :10px;
}

/*to hide blocs*/
.left {
  left: -50%;
}

.right {
  right: -50%;
}

/*to display blocs*/
.bloc.left.visible {
  left: 0;
}

.bloc.right.visible {
  right: 0;
}

.img{
    background-size: cover;
    background-position: center;
    filter: grayscale(0.4);
    overflow: hidden;
    z-index: 0;
}

#imgcoral{
    background-image: url('../img/coral.jpg');/*royalty free : from pexel.com*/
}

#imgcoral p, #imgjellyfish p, #imgturtle p{
    color: rgb(66, 66, 127); 
    font-size: 24px;
    padding: 20px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute; /* to cover all the img */
    top: 0;
    left: 0;
    font-size: 30px;
}

#imgcoral:hover p, #imgjellyfish:hover p, #imgturtle:hover p{
    opacity: 1;
    background-color: rgba(134, 184, 248, 0.52);
    z-index: 1;
}

#imgjellyfish{
    background-image: url('../img/jellyfish2.jpg');/*royalty free : from pexel.com*/
}

#imgturtle{
    background-image: url('../img/turtle.jpg');/*royalty free : from pexel.com*/
}


/*----- Contact Us page ----------------------------------------*/

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

form {
  max-width: 600px;
  width: 100%;
  padding: 20px 40px;
  background-color: #badbebd5;
  border: solid 2px rgb(248, 248, 248);
  display: flex;
  flex-direction: column;  
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px;
}

.ContactUs{
    text-align: center;
    margin : 10px;
    color: rgb(255, 255, 255);
}

input.user-info,
textarea.msg,  .submit-btn {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;
    padding: 5px;
}

.msg{
    min-height: 100px;
}

.submit-btn {
    display: block;
    margin: 8px auto;
    width: 90px;
    padding: 4px;
    text-align: center;
    border: solid 2px  rgb(126, 165, 173);
}
  
.submit-btn:hover {
    background-color: bisque;
    border: solid 2px  rgb(230, 148, 61);
    border-radius: 6px;
}

.active-button{
    text-align: center;
    margin : 10px;
    color:rgb(230, 148, 61);
    transition: all 0.3s ease
}

.user-info:focus,
.msg:focus {
    border: 1px solid rgb(255, 195, 139);
    outline: none;
    box-shadow: 0 0 5px rgb(255, 145, 0);
}

/*--------------- Learn pages -----------------------------------*/

.text-container{
    padding-left: 10%;
    padding-right: 10%;
    background-color:white ;
    background-size: cover;
    background-position: center;
}

.text-container>*{
    padding: 10px;
    text-align: justify;
}

.LAML-title {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    height: 100%;
}

.LAML-title >*{
    color:rgb(224, 235, 244);
    margin-left: 100px;
    padding-top:10px;
    /*background-color: rgb(163, 195, 223);*/
}

.LAML-title h1{
    font-size: 80px;
}

.text-container h2, .title-laml-content{
    margin-top:10px;
    margin-bottom: 10px;
    color:rgb(10, 79, 82);
    text-align: center;
}
.text-container h2{
    font-size: 20px;
}
.title-laml-content{
    margin:2% 2%;
    font-size: 30px;
}

.text-container h3{
    margin:5px 0;
    text-align: center;
    color:rgb(0, 0, 0) ;
}

.text-container section{
    margin:10px 0;
}

.box1{
    background-color: rgba(125, 187, 234, 0.858);
    margin:auto;
    padding: 20px;
    border-radius: 25px;
}


.blocs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.laml-blocs{
    flex: 1 1 45%;
    padding: 20px;
    background-color: rgba(125, 187, 234, 0.729);
    text-align: justify;
    border: 1px solid #ccc;
    border-radius: 20px;
    align-items: center;
    align-content: center;
}

.laml-blocs p, .laml-blocs h2{
    padding-left: 20px;
    padding-right: 20px;
}

.laml-blocs p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blocs img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.text-container a:link {
    color: rgb(10, 79, 82);
    background-color: transparent;
    text-decoration: none;
}

.text-container a:visited{
    color: rgb(10, 79, 82);
    background-color: transparent;
    text-decoration: none;
}

.text-container a:hover{
    color: rgba(45,172,172,255);
    background-color: transparent;
    text-decoration: dotted;
}

.blocs a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

.blocs a:visited{
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

.blocs a:hover{
    color: rgba(45,172,172,255);
    background-color: transparent;
    text-decoration: dotted;
}

.blocs h2 a:link {
    color: rgb(10, 79, 82);
    background-color: transparent;
    text-decoration: none;
}

.blocs h2 a:visited{
    color: rgb(10, 79, 82);
    background-color: transparent;
    text-decoration: none;
}

.blocs h2 a:hover{
    color: rgba(45,172,172,255);
    background-color: transparent;
    text-decoration: dotted;
}

/*--------Coral---------*/

.video-section{
    flex: 1 1 45%;
    background-color:rgb(125, 187, 234); 
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    max-width: fit-content;
    margin: 0 auto; 
    text-align: justify;
    border-radius: 20px;
}

.videos{
    display: flex;
    justify-items: center;
    flex-wrap : wrap;
    justify-content: center;
    gap:20px;

}



/*----------------Cards-----------------*/

.card-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;            
    gap: 50%;               
    margin: 2% auto;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
    flex: 0 0 auto;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.front{
    
    background-color: #006994;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(125, 187, 234);
    transform: rotateY(0deg);
}

.back{
    background-color:rgba(125, 187, 234, 0.729) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #006994;
    transform: rotateY(180deg);
}

.card-container:hover .card{
    transform: rotateY(180deg);

}

.video-section{
    flex: 1 1 45%;
    background-color: rgba(160,205,240,255); 
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    max-width: fit-content;
    margin: 0 auto; 
    text-align: justify;
    border-radius: 20px;
}



/*----------------Cards-----------------*/

.card-body {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.card-container{
    width: 200px;
    height: 300px;
    perspective: 1000px;
    
}

.card{
    /*position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.6s;*/
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.front{
    
    background-color: #006994;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(125, 187, 234);
    transform: rotateY(0deg);
}

.back{
    background-color:rgba(125, 187, 234, 0.729) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #006994;
    transform: rotateY(180deg);
}

.card-container:hover .card{
    transform: rotateY(180deg);

}

/*----- quiz----------------------------*/

@keyframes pulse {
  0%   { transform: scale(1); }
  30%  { transform: scale(1.08); }
  60%  { transform: scale(0.95); }
  100% { transform: scale(1); }
}

.start-quiz-btn {
  animation: pulse 0.9s infinite;
}

.quiz-page{
    background-color: rgb(163, 195, 223);
}

.img-quiz.start{
    background-image: url('../img/jellyfish1.jpg');/*https://giphy.com/pikaole*/
}
.img-quiz.end{
    background-image: url('../img/happy_fish.gif');/*royalty free : from pexel.com*/
}

.img-quiz{
    background-image: url('../img/jellyfish1.jpg');/*royalty free : from pexel.com*/
    background-size: cover;
    height: 200px;
    width: 200px;
    box-sizing: content-box;
}

.quiz{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container{
    overflow: hidden;
    width: 400px;
    height: 430px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgb(200, 199, 199);
    background-color: rgb(255, 255, 255)
}

.container.quiz-content{
    width: 460px;
    height: 490px;
}

.begin-quiz, .end-quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.end-quiz, .quiz-content{
    display: none;
}


.begin-quiz>*, .end-quiz>*{
    margin:10px;
}


.quiz-header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgb(162, 158, 150);
    height: 50px;
}

.quiz-header .quiz-title{
    font-size: 1.43em;
    font-weight: 1000;
}

.quiz-header .timer{
    display: flex;
    background-color:aliceblue;
    border: 1px solid rgb(163, 195, 223);
    border-radius: 4px;
    padding: 4px;
}

.question{
    padding: 20px 40px ;
    font-size: 19px;
    min-height: 60px;
    display: flex;
    align-items:center;
}
.answer-options{
    margin-top:10px;
    list-style: none;
}

.answer{
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: rgba(184, 222, 255, 0.807);
    border-radius: 4px;
    border: solid 1px rgb(117, 157, 165);
    cursor: pointer;
    justify-content: space-between;
}

.answer:hover{
    background-color: rgba(145, 189, 227, 0.807);
}

.answer-options{
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap:10px;
    transition: 0.3s ease;
}


.quiz-footer{
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.638) ;
}

.next-question, .try-again, .start-quiz-btn{
    display:inline-flex;
    gap:4px;
    align-items: center;
    background-color: rgb(143, 187, 225);
    border: 1px solid rgb(163, 195, 223);
    border-radius: 4px;
    padding: 5px;
}

.next-question{
    visibility: hidden;
}

.next-question:hover, .try-again:hover, .start-quiz-btn:hover{
    background-color: rgb(118, 153, 184);
}

.answer-options .answer.correct{
    background-color: rgb(198, 236, 216);
    color:rgb(41, 97, 67);
    border-color:rgb(41, 97, 67);
}

.answer-options .answer.incorrect{
    background-color: rgb(254, 224, 201);
    color:rgb(236, 118, 34);
    border-color: rgb(236, 118, 34);
}

/* -----MAP -----------*/

.about-us-bg{
    background-image: url('../img/oceansand.jpg');/*royalty free : from pexel.com*/
}

#map {
  height: 500px;
  width: 100%;
  margin: 20px auto;
}

/*------ about us -----*/
.about-us {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    line-height: 1.6;
    background-color: #eefdffd2;
}
    
.about-us h1, .about-us h2, footer a {
    color: #006994;
}

.about-us ul {
    list-style-type: none;
    padding-left: 0;
}

.about-us ul li::before {
    content: "🌿 ";
    margin-right: 0.5em;
}

.link-media a>* {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 100px;
    margin-top: 10px;
    animation: pulse 0.9s infinite;
}

.link-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.team :nth-child(3){
    text-align: center;
    color: rgb(66, 66, 127);
}

.insta{
    background: url('../img/insta.png') no-repeat center;/*icon from https://www.iconfinder.com/social-media-icons*/
}
.git{
    background: url('../img/git.png') no-repeat center; /*icon from https://www.iconfinder.com/social-media-icons*/
}


  /*------- Button menu ------------ */
.menu-toggle {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  align-self: flex-start;
}

/* ----------- Adaptation to small screens ------------------*/
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block;
        margin-left: auto;
    }

    #logo{
        position: relative;
    }

    .right-links {
        flex-direction: column;
        width: 100%;
        display: none;
        gap: 10px;
        margin-top: 10px;
        align-items: flex-end;
    }

    .right-links.show {
        display: flex !important;
    }

    #topics {
        background-color: rgba(22, 70, 95, 0.551);
    }

    #imgcoral p, #imgjellyfish p, #imgturtle p{
        font-size: 20px;
    }

}